*
!/API/
!/API/**
!/TestMenu/
!/TestMenu/**
!/nms-api/
!/nms-api/**
!/nms-shared-legacy/
!/nms-shared-legacy/**
!/nms-shared-legacy8/
!/nms-shared-legacy8/**
!/nms-shared-legacy82/
!/nms-shared-legacy82/**
!/nms-shared-legacy9/
!/nms-shared-legacy9/**
!/nms-shared-legacy11/
!/nms-shared-legacy11/**
!/nms-shared-legacy13/
!/nms-shared-legacy13/**
!/nms-shared-legacy14/
!/nms-shared-legacy14/**
!/nms-shared-legacy15/
!/nms-shared-legacy15/**
!/nms-shared-legacy16/
!/nms-shared-legacy16/**
!/nms-shared-mid/
!/nms-shared-mid/**
!/nms-shared-mid17/
!/nms-shared-mid17/**
!/nms-shared-modern/
!/nms-shared-modern/**
!/nms-shared-modern21_5/
!/nms-shared-modern21_5/**
!/nms-shared-modern26/
!/nms-shared-modern26/**
!/nms/
!/nms/**
!/packetuxui/
!/packetuxui/**
!/gradle/
!/gradle/**
!gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts
!gradle.properties
!.gitignore
!README.md
**/build/
**/.gradle/
**/bin/
**/out/
