*
!/API/
!/API/**
!/TestMenu/
!/TestMenu/**
!/nms-api/
!/nms-api/**
!/nms-shared-legacy/
!/nms-shared-legacy/**
!/nms-shared-mid/
!/nms-shared-mid/**
!/nms-shared-modern/
!/nms-shared-modern/**
!/nms/
!/nms/**
!/gradle/
!/gradle/**
!gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts
!gradle.properties
!.gitignore
!README.md
**/build/
**/.gradle/
**/bin/
**/out/
